@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utility classes */
.animate{
    animation-duration: 1s;
    animation-fill-mode: both;
}
.animate--delay-1s{
    animation-delay: 1s;
}
.animate--fast{
    animation-duration: 1s;
}

.animate--slow{
    animation-duration: 1.5s;

}

.slideInLeft{
    animation-name: slideInLeft;
    animation-timing-function: ease-in;
}


/* Animations */
@keyframes slideInLeft{
    from{
        transform: translateX(-300px);
        opacity: 0;
    }
    to{
        transform: translateX(0);
        opacity: 1;
    }
}

/* @keyframes bounce{
    0%, 20%, 50%, 80%, 100%{
        transform: translateY(0);
        opacity: 1;
    }
    40%{
        transform: translateY(-30px);
        opacity: 1;
    }
    60%{
        transform: translateY(-15px);
        opacity: 1;
    }
    
}

.bounce{
    animation-name: bounce;
    animation-duration: 2s;
    animation-iteration-count:ease-in;
} */


.problem-statement{
    margin: 25px auto 50px; 
    text-align: justify;
    width: 60%;
    font-size: 40px;
    color:antiquewhite;   
}


 .problem-statement p{
    margin-top:15px;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    line-height: 20px;
} 

.motiveImage{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    padding: 0 10%;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(to right, transparent, rgba(27, 70, 27, 0.5), rgba(38, 59, 38, 0.5)), url(images/pexels-tomfisk-1483880.jpg);
    border-radius: 50px;
}


.introImage{
    margin-top: 20px;
    margin-bottom: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between; 
    align-items:center;
    flex-grow: 1;
    padding: 0 10%;
    background-position: center;
    background-size: cover;
    background-image: linear-gradient(to right, transparent, rgba(27, 70, 27, 0.5), rgba(38, 59, 38, 0.5)), url(images//pexels-nishantaneja-3019836.jpg);
    border-radius: 50px;
}

.introduction h2{
    font-family: 'Poppins', sans-serif;
    margin: 20px auto 20px; 
    width: 60%;
    color:antiquewhite;
    font-weight: 800;
}
.introduction {
    margin-bottom: 20px; 
    width: 60%;
    color:antiquewhite;
}

.introduction p{
    font-family: 'Poppins', sans-serif;
    margin-top:15px;
    font-size: 18px;
    line-height: 25px;
    text-align: justify;
}

.nav_links li,
a,
button {
    font-family: "Poppins", sans-serif;
    font-weight: 430;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 280;
    cursor: pointer;
    font-size: 45px;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 11vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3000;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    padding: 0px 0;
    transition: all 0.3s ease;
    border-radius: 50px;
    margin-top: 5px;

}

header.sticky {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    height: 60px;


}

.image {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    padding: 0 10%;
    background-position: center;
    background-size: cover;
    /* background-image: linear-gradient(to right, transparent, rgba(27, 70, 27, 0.5), rgba(38, 59, 38, 0.5)), url('https://images.pexels.com/photos/259280/pexels-photo-259280.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2'); */
    border-radius: 50px;

}

.nav_links {
    display: flex;
    justify-content: right;
    align-items: right;
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0 15px;
}

.nav_links li a {
    margin: 0 15px;
    letter-spacing: 2px;
    transition: all 0.3s ease;
    white-space: nowrap;
}

.nav_links li a:hover {
    color: rgba(42, 91, 13, 0.8);
}

button {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 15px;
    padding: 9px 25px;
    background-color: rgba(35, 94, 6, 0.394);
    border-radius: 40px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: rgba(87, 180, 50, 0.8);
    text-decoration: underline;
}

:target {
    padding-top: 80px;
    ;
    margin-top: -65px;

}

.carousel {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    
}

.carousel .list .item {
    position: absolute;
    inset: 0 0 0 0;
}

.carousel .list .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel .list .item .content {
    position: absolute;
    top: 20%;
    max-width: 80%;
    left: 50%;
    transform: translate(-50%);
    padding-right: 30%;
    box-sizing: border-box;
    color: white;
    text-shadow: 0 5px 10px #0004;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}

.carousel .list .item .content .heading {
    font-weight: bold;
    font-size: 4em;
    list-style: 1.3em;
}

.thumbnail {
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
    color: white;
}

.thumbnail .item {
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}

.thumbnail .item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

.thumbnail .item .content {
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

.thumbnail .item .content .title {
    font-weight: bold;
}

.arrows {
    position: absolute;
    top: 80%;
    right: 52%;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
}

.arrows button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: grey;
    border: none;
    font-family: monospace;
    color: white;
    font-weight: bold;
    font-size: large;
    transition: .5s;
    z-index: 100;
}

.arrows button:hover {
    background-color: white;
    color: #555;
}

.carousel .list .item:nth-child(1) {
    z-index: 1;
}

.carousel .list .item:nth-child(1) .heading,
.carousel .list .item:nth-child(1) .des {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
    animation: showContent 0.5s 1s linear 1 forwards;
}

@keyframes showContent {
    to {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
    }
}

.carousel .list .item:nth-child(1) .heading {
    animation-delay: 1.4s !important;
}

.carousel.next .list .item:nth-child(1) img {
    width: 150px;
    height: 220px;
    position: absolute;
    left: 50%;
    bottom: 50px;
    border-radius: 20px;
    animation: showImage 0.5s linear 1 forwards;
}

@keyframes showImage {
    to {
        width: 100%;
        height: 100%;
        left: 0;
        bottom: 0;
        border-radius: 0;
    }
}

.carousel.next .thumbnail .item:nth-child(1) {
    width: 0;
    overflow: hidden;
    animation: showThumbnail .5s linear 1 forwards;
}

@keyframes showThumbnail {
    to {
        width: 150px;

    }
}

.carousel.next .thumbnail {
    transform: translateX(150px);
    animation: transformThumbnail .5s linear 1 forwards;
}

@keyframes transformThumbnail {
    to {
        transform: translateX(0)
    }
}

.carousel.prev .list .item:nth-child(2) {
    z-index: 2;
}

.carousel.prev .list .item:nth-child(2) img {
    position: absolute;
    bottom: 0;
    left: 0;
    animation: outImage 0.5s llinear 1 forwards;
}

@keyframes outImage {
    to {
        width: 150px;
        height: 220px;
        border-radius: 20px;
        left: 50%;
        bottom: 50px;
    }
}

.carousel.prev.thumbmail.item:nth-child(1) {
    width: 0;
    overflow: hidden;
    opacity: 0;
    animation: showThumbnail 0.5s linear 1 forwards;

}

.carousel.prev.list.item:nth-child(2) .heading,
.carousel.prev.list.item:nth-child(2) .des {
    animation: contentOut 1.5s linear 1 forwards;
}

@keyframes contentOut {
    to {
        transform: translateY(-150px);
        filter: blur(20px);
        opacity: 0;
    }
}

.carousel.next .arrows button,
.carousel.prev .arrows button {
    pointer-events: none;
}

.time {
    width: 0%;
    height: 5px;
    background-color: forestgreen;
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
}

.carousel.next .time,
.carousel.prev .time {
    width: 100%;
    animation: timeRunning 2s linear 1 forwards;
}

@keyframes timeRunning {
    to {
        width: 0;
    }
}

@media screen and (max-width:678px) {
    .carousel .list .item .content {
        padding-right: 0;
    }

    .carousel .list .item .content .title {
        font-size: 30px;
    }
}

.contact-us {
    background: #fff;
    width: 100%;
    padding: 20px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
    margin-bottom: 100px;
}

h2 {
    text-align: center;
    font-size: 50px;
}

hr {
    width: 100px;
    margin: 10px auto;
}

.members {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.team-mem {
    flex: 0 1 auto;
    text-align: center;
    margin: 10px;
    max-width: 250px;
}

.members img {
    width: 150px;
    max-width: 150px;
    height: 150px;
    border-radius: 50%;
}

.team-mem h4,
p {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 12px;
    margin: 5px;
}

.team-mem p:hover {
    cursor: pointer;
    color: #308836;
    text-decoration: underline;
}

footer {
    position: relative;
    width: 100%;
    background: #000000;
    min-height: 60px;
    padding: 10px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .social_icon,
footer .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: nowrap;
}

footer .social_icon li,
footer .menu li {
    list-style: none;
}

footer .social_icon li a,
footer .social_icon li p {
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social_icon li a:hover {
    transform: translate(-10px);
}

footer .menu li a {
    font-size: 1.22em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
}

footer .menu li a:hover {
    opacity: 1;
    color: #308836;
}

footer p {
    color: #fff;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

footer .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(images/wave.jpeg);
    background-size: 1000px 100px;
}

footer #wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}

footer #wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}

footer #wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}

footer #wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
    0% {
        background-position-x: 1000px;
    }

    100% {
        background-position-x: 0px;
    }
}

@keyframes animateWave_02 {
    0% {
        background-position-x: 0px;
    }

    100% {
        background-position-x: 1000px;
    }
}









