@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

li, a, button {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

h1 {
    cursor: pointer;
}

.nav_links {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav_links li {
    position: relative;
    display: inline-block;
    padding: 0 20px;
}

.nav_links li a {
    position: relative;
    margin: 0 15px;
    letter-spacing: 2px;
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover {
    color: rgba(215, 213, 97, 0.8);
}
button{
    font-size: 15px;
    padding: 9px 25px;
    background-color: rgb(163, 165, 20);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover {
    background-color: rgba(215, 213, 97, 0.8);
    text-decoration: underline;
}

.image {
    width: 100%;
    height: 13vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-position: center;
    background-size: cover; 
    background-image:linear-gradient(to right, transparent,  rgba(27, 70, 27, 0.5), rgba(38, 59, 38, 0.5)),  url('https://images.pexels.com/photos/259280/pexels-photo-259280.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    border-radius: 50px;
}
header{
    position:sticky;
    top: 0;
    left: 0; 
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    transition: all 0.3s ease 0s;
    padding: 5px 0;
    margin-bottom: 20px;
    border-radius: 50px;
   
}

header.sticky {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(2px);
    padding: 5px 100px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

}

header.logo {
    position: relative;
    transition: 0.6s;
}

header.sticky .logo, header.sticky .nav_links li a {
    color: black;
}

footer {
    position: relative;
    width: 100%;
    background: #000000;
    min-height: 60px;
    padding: 10px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .social_icon, footer .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: nowrap;
}

footer .social_icon li, footer .menu li {
    list-style: none;
}

footer .social_icon li a {
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social_icon li a:hover {
    transform: translate(-10px);
}

footer .menu li a {
    font-size: 1.22em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
}

footer .menu li a:hover {
    opacity: 1;
}

footer p {
    color: #fff;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

footer .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(images/wave.jpeg);
    background-size: 1000px 100px;
}

footer #wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}

footer #wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}

footer #wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}

footer #wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-position-x: 0px;
    }
}

@keyframes animateWave_02 {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: 1000px;
    }
}
