@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav_links li, a, button {
    font-family: "Poppins", sans-serif;
    font-weight: 350;
    font-size: 20px;
    color: black;
    text-decoration: none;
}

h1 {
    font-family: "Poppins", sans-serif;
    font-weight: 250;
    cursor: pointer;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 11vh;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);

    padding: 0px 0; /* Increased initial padding for larger height */
    transition: all 0.3s ease; 
    border-radius: 50px;
    margin-top: 5px;
    margin-bottom: 20px;
    
}

header.sticky {
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    height:60px;
    

}

.image {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    padding: 0 10%; 
    background-position: center;
    background-size: cover; 
    background-image: linear-gradient(to right, transparent, rgba(27, 70, 27, 0.5), rgba(38, 59, 38, 0.5)), url('https://images.pexels.com/photos/259280/pexels-photo-259280.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
    border-radius: 50px;
    
}

.nav_links {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.nav_links li {
    display: inline-block;
    padding: 0 15px;
}

.nav_links li a {
    margin: 0 15px;
    letter-spacing: 2px;
    transition: all 0.3s ease;
    white-space: nowrap;
}

.nav_links li a:hover {
    color: rgba(215, 213, 97, 0.8);
}

button {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 15px;
    padding: 9px 25px;
    background-color: rgb(163, 165, 20);
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: rgba(215, 213, 97, 0.8);
    text-decoration: underline;
}

:target{
    padding-top: 80px;;
    margin-top: -65px;

}

/* Footer styles */
footer {
    position: relative;
    width: 100%;
    background: #000000;
    min-height: 60px;
    padding: 10px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .social_icon, footer .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: nowrap;
}

footer .social_icon li, footer .menu li {
    list-style: none;
}

footer .social_icon li a, footer .social_icon li p {
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social_icon li a:hover {
    transform: translate(-10px);
}

footer .menu li a {
    font-size: 1.22em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
}

footer .menu li a:hover {
    opacity: 1;
    color: #308836;
}

footer p {
    color: #fff;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

footer .wave {
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(images/wave.jpeg);
    background-size: 1000px 100px;
}

footer #wave1 {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}

footer #wave2 {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}

footer #wave3 {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}

footer #wave4 {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
}

@keyframes animateWave {
    0% {
        background-position-x: 1000px;
    }
    100% {
        background-position-x: 0px;
    }
}

@keyframes animateWave_02 {
    0% {
        background-position-x: 0px;
    }
    100% {
        background-position-x: 1000px;
    }
}


.contact-us {
    background: #fff;
    width: 100%; 
    padding: 20px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.4);
    margin-bottom: 100px;
}

h2 {
    text-align: center;
}

hr {
    width: 100px;
    margin: 10px auto;
}

.members {
    display: flex;
    justify-content: space-around; 
    align-items: center;
    flex-wrap: wrap; 
}

.team-mem {
    flex: 0 1 auto; 
    text-align: center; 
    margin: 10px; 
    max-width: 250px; 
}

.members img {
    width: 150px;
    max-width: 150px; 
    height: 150px; 
    border-radius: 50%;
}

h4, p {
    text-align: center;
    font-size: 12px; 
    margin: 5px; 
}
